Source: cockpit-ros2-diagnostics
Section: admin
Priority: optional
Maintainer: Hilary Luo <hluo@clearpathrobotics.com>
Build-Depends: debhelper-compat (= 13),
               gettext (>= 0.21),
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/clearpathrobotics/cockpit-ros2-diagnostics

Package: cockpit-ros2-diagnostics
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         cockpit-bridge (>= 318),
Description: Cockpit component for viewing ROS 2 diagnostics.
 The Cockpit Web Console enables users to administer GNU/Linux servers using a
 web browser.
 .
 This package provides a Cockpit plugin for viewing ROS 2 diagnostics.